*{
margin: 0;
    
}
body{
    background-color: black;
}
#data{
text-align: center;
    font-size: 50px;
    margin-top:10%;
    color: white;
    
}
#input{
    padding-top: 3px;
    padding-bottom: 3px;
    border-right-width: 10px;
    border-top-width: 5px;
    text-align: 20px;

}