
* {
    margin: 0; 
    padding: 0;
}




/* Футер  */

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
    width: 100%;
    max-width: 100;
    border-top-width: 4px;
}

.footer{
    background-image: url("http://s.lpmcdn.com/lpfile/b/c/b/bcb2d8d3f7a64b132ec093692c0e76b7.jpg"); background-position: 50% 50%; background-repeat: no-repeat;
    background-size: cover; background-attachment: fixed; background-color: rgba(0,0,0,.7);
    background-blend-mode: darken; 
 
    margin-top: 80px;font-family: Helvetica,Arial,sans-serif;
    
}


/* Футер   */




