*{margin: 0;padding: 0;font-family: Arial, sans-serif;}

div{box-sizing: border-box;}

.header{
background:url(img/fonovie-oboi-dlya-rabochego-stola.orig.jpg)no-repeat center top / cover;
    
    height: 100vh;
    display: block;
}
/*Меню(start)*/
ul li {
    display: inline-block;
}
ul li a{color: white;
    text-decoration: none;
}
 ul li{

    font-size: 15px;
     margin: 18px;
    margin-top:37px;
}
nav{float: right;}
/*Меню(end)*/
.p{
    color: white;
    text-align: center; 
}

.p_1{margin-top: 120px;font-size:50px;font-weight: 500;  }
.p_2{margin-top: 60px;font-size:25px;}
.p_3{margin-top: 70px;margin-bottom: 90px;}

.container{
    width: 930px;
    margin: 0 auto;
}
.c_1{float: left;text-align: center;width: 270px;}
.c_1 p {color: #777777;
    font-size: 14px;
    line-height: 1.55em;}


